# Ignore files not tracked by Git
*

# Files currently being tracked by Git and contained in this repo
!.i3/*
.i3/scripts-i3blocks/*
.i3/i3blocks

!.config/cava/*
!.config/dunst/*
!.config/gtk-3.0/*
!.config/i3/*
!.config/polybar/*
!.config/ranger/*
!.config/termite/*
!.config/tilda/*
!.config/compton.conf


!.fonts/*
!.bashrc
!.gitignore
!.profile
!.Xresources
!.vimrc
!.zshrc

!README.md
