# Ignore everything
*

# But do not ignore this folders and their content
!.config/
.config/*

!.config/cava/
!.config/cava/*

!.config/dunst/
!.config/dunst/*

!.config/i3/
!.config/i3/*

!.config/polybar/
!.config/polybar/*

!.config/ranger/rc.conf
!.config/ranger/rifle.conf

!.config/termite/
!.config/termite/*

!.config/tilda/
!.config/tilda/*

!.config/nvim/
!.config/nvim/init.vim

!.config/gsimplecal/
!.config/gsimplecal/config

!.config/compton.conf

!.config/rofi/
!.config/rofi/config.rasi

!.screenshots/
!.screenshots/*


!.gitignore
!packages.txt
!.vimrc
!.Xresources
!.zshrc

!README.md
