#define black0    #202331
#define black1    #697098
#define black2    #292D3E
#define black3    #212121
#define black4    #111a1f


#define red0      #DE5775
#define red1      #f0696f


#define green0    #98c379
#define green1    #C3E88D


#define yellow0   #ee9966
#define yellow1   #ffcb6b


#define blue0     #3e4970
#define blue1     #82aaff


#define magenta0  #C678DD
#define magenta1  #c792ea


#define cyan0     #89ddff
#define cyan1     #89ddff


#define white0    #eeffff
#define white1    #ffffff

! special
*.foreground:   white0
*.background:   black2
*.cursorColor:  white0
*fading: 0
*fadeColor:     black1

! black
*.color0:       black0
*.color8:       black1

! red
*.color1:       red0
*.color9:       red1

! green
*.color2:       green0
*.color10:      green1

! yellow
*.color3:       yellow0
*.color11:      yellow1

! blue
*.color4:       blue0
*.color12:      blue1

! magenta
*.color5:       magenta0
*.color13:      magenta1

! cyan
*.color6:       cyan0
*.color14:      cyan1

! white
*.color7:       white0
*.color15:      white1
