! special
*.foreground:   #eeffff
*.background:   #111a1f
*.cursorColor:  #eeffff
*fading: 0
*fadeColor: #0F0209

! black
*.color0:       #212121
*.color8:       #4a4a4a

! red
*.color1:       #3e4970
*.color9:       #3e4970

! green
*.color2:       #f0696f
*.color10:      #f0696f

! yellow
*.color3:       #ffcb6b
*.color11:      #ffcb6b

! blue
*.color4:       #82aaff
*.color12:      #82aaff

! magenta
*.color5:       #c792ea
*.color13:      #c792ea

! cyan
*.color6:       #89ddff
*.color14:      #89ddff

! white
*.color7:       #eeffff
*.color15:      #ffffff

!-----------------------------------------------------------------------
!                        URxvt settings 
!-----------------------------------------------------------------------

URxvt.internalBorder:    10
URxvt.externalBorder:    0
!URxvt.lineSpace:        0
!urxvt*shading:          30
URxvt.depth:             32
URxvt.saveLines:         10000
!URxvt.geometry: 		 96x35
URxvt*terminalName:      rxvt-unicode-256color
URxvt*visualBell:        false

!! Scrollbar
!URxvt.scrollStyle:      rxvt
URxvt.scrollBar:         false
URxvt*scrollTtyOutput:   false
URxvt*scrollWithBuffer:  true
URxvt*scrollTtyKeypress: true

!URxvt*font: xft:Source Code Pro:size=11
URxvt*font: xft:Source Code Pro for Powerline:size=11
!URxvt*font: xft:Inconsolata for Powerline:size=13:style=Medium


! match vte/xterm
URxvt.keysym.Control-Up:    \033[1;5A
URxvt.keysym.Control-Down:  \033[1;5B
URxvt.keysym.Control-Left:  \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C
